name: Example - Call Reusable Print Env Workflow

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  call-reusable-workflow:
    uses: whichwit/gatest/.github/workflows/called.yaml@main
    with:
      # Pass the name of the environment to use
      environment_name: production
